.root {
    -fx-background-color: #888888;
}

.VBox {
    -fx-alignment: center;
}

.main-menu-bg {
    -fx-background-color: black;
    -fx-background-image: url('../images/background.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}